.single-car-dealer-ship-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-car-dealer-ship-information-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e2e8f0;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 95%;
  height: 50%;
  border-radius: 12px;
}

.single-car-dealer-ship-information-container p span {
  font-weight: bold;
  margin-right: 0.3rem;
  color: #e2e8f0;
  font-size: 1.2rem;
}



.add-btn{
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  height: 2rem;
  width: 10rem;
  border-radius: 12px;
  margin-top: 0.5rem;

}

.add-btn:hover{
  background-color: #2563eb;
  
}

.single-car-dealer-ship-cars-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #e2e8f0;
  margin-bottom: 1rem;
  }

.single-car-dealer-ship-container h2 {
  color: #e2e8f0;
  font-size: 1.8rem;
  margin-left: 1rem;  
  padding-bottom: 1rem;
}

.single-car-dealer-ship-cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 95%;
  margin: 1rem;
  padding-bottom: 2rem;
}

.car-card-wrapper {
  position: relative;
  padding: 0.4rem;
  border-radius: 12px;
  transition: all 0.3s ease;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(15, 23, 42, 0.1);
  border: 1px solid #e2e8f0;
  cursor: pointer;
}

.car-card-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.car-card-actions{
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
}

.car-card-wrapper:hover .car-card-actions{
  opacity: 1;
  transform: translateY(0);
}

.single-car-dealer-ship-cars-grid-no-cars{
  color: #e2e8f0;
  font-size: 1.2rem;
  margin: 0.5rem;
}