.add-car-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh - 64px;
}

.add-car-header {
  display: flex;
  width: 100%;
  margin: 20px;
  border-bottom: 2px solid #e2e8f0;
  padding-bottom: 10px;
}

.add-car-header h2{
  margin-left: 1rem;
}

.add-car-form {
  display: flex;
  flex-direction: column;
  width: 450px;

  padding-left: 2rem;
}
.two-groups{
  display: flex;
  justify-content: space-between;
}

.add-car-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem;
}

.add-car-form-group label {
  margin-bottom: 0.5rem;
}

.add-car-form-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
}

.add-car-button {
  margin-top: 10px;
  cursor: pointer;
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.add-car-button:hover{
background-color: #45a049;
  
}